// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../core/resource';
import { APIPromise } from '../../core/api-promise';
import { RequestOptions } from '../../internal/request-options';

export class BatchCases extends APIResource {
  /**
   * Получить данные об арбитражных делах с возможностью фильтрации
   *
   * @example
   * ```ts
   * const batchCase =
   *   await client.arbitration.batchCases.create({
   *     key: 'key',
   *     limit: 1,
   *     offset: 0,
   *   });
   * ```
   */
  create(params: BatchCaseCreateParams, options?: RequestOptions): APIPromise<BatchCaseCreateResponse> {
    const { key, limit, offset, ...body } = params;
    return this._client.post('/v1/arbitration/batchCases', {
      query: { key, limit, offset },
      body,
      ...options,
    });
  }
}

/**
 * Суды: Данные выгрузки
 */
export interface BatchCaseCreateResponse {
  /**
   * Оставшийся лимит
   */
  available_count?: number;

  /**
   * Массив объектов с данными о делах
   */
  data?: Array<BatchCaseCreateResponse.Data>;

  /**
   * Лимит запрошенных арбитражных дел в запросе
   */
  limit?: number;

  /**
   * Смещение (пагинация)
   */
  offset?: number;

  /**
   * Общее количество найденных записей, подходящих под указанные фильтры
   */
  total?: number;
}

export namespace BatchCaseCreateResponse {
  /**
   * Судебное (арбитражное) дело
   */
  export interface Data {
    /**
     * Номер дела
     */
    id?: unknown;

    /**
     * Заявитель
     */
    applicants?: Array<Data.Applicant>;

    /**
     * Идентификатор дела в Картотеке арбитражных дел
     */
    case_id?: string;

    /**
     * Кредиторы
     */
    creditors?: Array<Data.Creditor>;

    /**
     * Кредиторы по текущим платежам
     */
    creditors_current_payments?: Array<Data.CreditorsCurrentPayment>;

    /**
     * Валюта. Допустимые значения: RUBLES, OTHER
     */
    currency?: 'RUBLES' | 'OTHER';

    /**
     * Дата открытия дела
     */
    date_start?: string;

    /**
     * Дата последнего обновления
     */
    date_update?: string;

    /**
     * Должники
     */
    debtors?: Array<Data.Debtor>;

    /**
     * Тип спора: 0 - Отсутствует 1 - Об установлении фактов, имеющих юридическое
     * значение 2 - Об административных правонарушениях 3 - Экономические споры по
     * гражданским правоотношениям 4 - О несостоятельности (банкротстве) организаций и
     * граждан 5 - Экономические споры по административным и иным публичным
     * правоотношениям (исключая споры об административных правонарушениях) 6 - О
     * признании и приведении в исполнение решений иностранных судов и иностранных
     * арбитражных решений 7 - Иное 8 - Административный спор 9 - Об оспаривании
     * решений трет. судов и о выдаче исп. листов на принудительное исполнение решений
     * трет. судов 10 - Дисциплинарные споры 11 - Экономические споры по
     * административным правоотношениям
     */
    dispute?: number;

    /**
     * Типы документов
     */
    document_types?: Array<string>;

    /**
     * Документы, привязанные к делу
     */
    documents?: Array<Data.Document>;

    /**
     * Номер дела
     */
    first_number?: string;

    /**
     * Количество инстанций
     */
    instance_count?: number;

    /**
     * Инстанции, через которые прошло дело
     */
    instances?: Array<string>;

    /**
     * Заинтересованные лица
     */
    interested_persons?: Array<Data.InterestedPerson>;

    /**
     * Ссылка на кад арбитр
     */
    kad_arbitr_link?: string;

    /**
     * Дата последнего документа по делу
     */
    last_document_date?: string;

    /**
     * Иная роль в деле
     */
    others?: Array<Data.Other>;

    /**
     * Истцы
     */
    plaintiffs?: Array<Data.Plaintiff>;

    /**
     * Ответчики
     */
    respondents?: Array<Data.Respondent>;

    /**
     * Статус дела: 0 - Дело рассматривается 1 - Дело завершено
     */
    status?: number;

    /**
     * Статус на основании последнего документа по делу
     */
    status_by_document?: number;

    /**
     * Цена иска
     */
    sum?: number;

    /**
     * Третье лицо
     */
    third_parties?: Array<Data.ThirdParty>;

    /**
     * Техническая дата последнего изменения
     */
    updated_at?: string;

    /**
     * Год дела
     */
    year?: number;

    /**
     * Месяц (с годом)
     */
    year_and_month?: number;
  }

  export namespace Data {
    /**
     * Иная роль в деле
     */
    export interface Applicant {
      /**
       * ИНН
       */
      inn?: string;

      /**
       * ИНН восстановлен из
       */
      inn_src?: 'OGRN' | 'INN' | 'NAME';

      /**
       * Наименование
       */
      name?: string;

      /**
       * Наименование восстановлено из
       */
      name_src?: 'OGRN' | 'INN' | 'NAME';

      /**
       * Нормализованное наименование
       */
      norm_name?: string;

      /**
       * ОГРН
       */
      ogrn?: string;

      /**
       * ОГРН восстановлен из
       */
      ogrn_src?: 'OGRN' | 'INN' | 'NAME';

      /**
       * Тип (роль) в деле
       */
      role?: string;
    }

    /**
     * Иная роль в деле
     */
    export interface Creditor {
      /**
       * ИНН
       */
      inn?: string;

      /**
       * ИНН восстановлен из
       */
      inn_src?: 'OGRN' | 'INN' | 'NAME';

      /**
       * Наименование
       */
      name?: string;

      /**
       * Наименование восстановлено из
       */
      name_src?: 'OGRN' | 'INN' | 'NAME';

      /**
       * Нормализованное наименование
       */
      norm_name?: string;

      /**
       * ОГРН
       */
      ogrn?: string;

      /**
       * ОГРН восстановлен из
       */
      ogrn_src?: 'OGRN' | 'INN' | 'NAME';

      /**
       * Тип (роль) в деле
       */
      role?: string;
    }

    /**
     * Иная роль в деле
     */
    export interface CreditorsCurrentPayment {
      /**
       * ИНН
       */
      inn?: string;

      /**
       * ИНН восстановлен из
       */
      inn_src?: 'OGRN' | 'INN' | 'NAME';

      /**
       * Наименование
       */
      name?: string;

      /**
       * Наименование восстановлено из
       */
      name_src?: 'OGRN' | 'INN' | 'NAME';

      /**
       * Нормализованное наименование
       */
      norm_name?: string;

      /**
       * ОГРН
       */
      ogrn?: string;

      /**
       * ОГРН восстановлен из
       */
      ogrn_src?: 'OGRN' | 'INN' | 'NAME';

      /**
       * Тип (роль) в деле
       */
      role?: string;
    }

    /**
     * Иная роль в деле
     */
    export interface Debtor {
      /**
       * ИНН
       */
      inn?: string;

      /**
       * ИНН восстановлен из
       */
      inn_src?: 'OGRN' | 'INN' | 'NAME';

      /**
       * Наименование
       */
      name?: string;

      /**
       * Наименование восстановлено из
       */
      name_src?: 'OGRN' | 'INN' | 'NAME';

      /**
       * Нормализованное наименование
       */
      norm_name?: string;

      /**
       * ОГРН
       */
      ogrn?: string;

      /**
       * ОГРН восстановлен из
       */
      ogrn_src?: 'OGRN' | 'INN' | 'NAME';

      /**
       * Тип (роль) в деле
       */
      role?: string;
    }

    /**
     * Документ
     */
    export interface Document {
      /**
       * Дата создания
       */
      creation_date?: string;

      /**
       * Тип документа
       */
      document_type?: string;

      /**
       * Идентификатор инстанции
       */
      instance_id?: string;

      /**
       * Название инстанции
       */
      instance_name?: string;

      /**
       * Номер инстанции
       */
      instance_num?: string;

      /**
       * Значение документа
       */
      value?: string;
    }

    /**
     * Иная роль в деле
     */
    export interface InterestedPerson {
      /**
       * ИНН
       */
      inn?: string;

      /**
       * ИНН восстановлен из
       */
      inn_src?: 'OGRN' | 'INN' | 'NAME';

      /**
       * Наименование
       */
      name?: string;

      /**
       * Наименование восстановлено из
       */
      name_src?: 'OGRN' | 'INN' | 'NAME';

      /**
       * Нормализованное наименование
       */
      norm_name?: string;

      /**
       * ОГРН
       */
      ogrn?: string;

      /**
       * ОГРН восстановлен из
       */
      ogrn_src?: 'OGRN' | 'INN' | 'NAME';

      /**
       * Тип (роль) в деле
       */
      role?: string;
    }

    /**
     * Иная роль в деле
     */
    export interface Other {
      /**
       * ИНН
       */
      inn?: string;

      /**
       * ИНН восстановлен из
       */
      inn_src?: 'OGRN' | 'INN' | 'NAME';

      /**
       * Наименование
       */
      name?: string;

      /**
       * Наименование восстановлено из
       */
      name_src?: 'OGRN' | 'INN' | 'NAME';

      /**
       * Нормализованное наименование
       */
      norm_name?: string;

      /**
       * ОГРН
       */
      ogrn?: string;

      /**
       * ОГРН восстановлен из
       */
      ogrn_src?: 'OGRN' | 'INN' | 'NAME';

      /**
       * Тип (роль) в деле
       */
      role?: string;
    }

    /**
     * Иная роль в деле
     */
    export interface Plaintiff {
      /**
       * ИНН
       */
      inn?: string;

      /**
       * ИНН восстановлен из
       */
      inn_src?: 'OGRN' | 'INN' | 'NAME';

      /**
       * Наименование
       */
      name?: string;

      /**
       * Наименование восстановлено из
       */
      name_src?: 'OGRN' | 'INN' | 'NAME';

      /**
       * Нормализованное наименование
       */
      norm_name?: string;

      /**
       * ОГРН
       */
      ogrn?: string;

      /**
       * ОГРН восстановлен из
       */
      ogrn_src?: 'OGRN' | 'INN' | 'NAME';

      /**
       * Тип (роль) в деле
       */
      role?: string;
    }

    /**
     * Иная роль в деле
     */
    export interface Respondent {
      /**
       * ИНН
       */
      inn?: string;

      /**
       * ИНН восстановлен из
       */
      inn_src?: 'OGRN' | 'INN' | 'NAME';

      /**
       * Наименование
       */
      name?: string;

      /**
       * Наименование восстановлено из
       */
      name_src?: 'OGRN' | 'INN' | 'NAME';

      /**
       * Нормализованное наименование
       */
      norm_name?: string;

      /**
       * ОГРН
       */
      ogrn?: string;

      /**
       * ОГРН восстановлен из
       */
      ogrn_src?: 'OGRN' | 'INN' | 'NAME';

      /**
       * Тип (роль) в деле
       */
      role?: string;
    }

    /**
     * Иная роль в деле
     */
    export interface ThirdParty {
      /**
       * ИНН
       */
      inn?: string;

      /**
       * ИНН восстановлен из
       */
      inn_src?: 'OGRN' | 'INN' | 'NAME';

      /**
       * Наименование
       */
      name?: string;

      /**
       * Наименование восстановлено из
       */
      name_src?: 'OGRN' | 'INN' | 'NAME';

      /**
       * Нормализованное наименование
       */
      norm_name?: string;

      /**
       * ОГРН
       */
      ogrn?: string;

      /**
       * ОГРН восстановлен из
       */
      ogrn_src?: 'OGRN' | 'INN' | 'NAME';

      /**
       * Тип (роль) в деле
       */
      role?: string;
    }
  }
}

export interface BatchCaseCreateParams {
  /**
   * Query param: API-ключ.
   */
  key: string;

  /**
   * Query param: Лимит запрошенных арбитражных дел в запросе (значение должно быть >
   * 0, обязательный для заполнения параметр)
   */
  limit: number;

  /**
   * Query param: Смещение (для пагинации, отступ в указанное количество дел)
   * (значение должно быть >= 0, обязательный для заполнения параметр)
   */
  offset: number;

  /**
   * Body param: Номер дела
   */
  case_num?: string;

  /**
   * Body param: Наименование суда
   */
  court?: string;

  /**
   * Body param: Арбитражный спор.
   *
   * **Допустимые значения:**
   *
   * - `0` - Отсутствует
   * - `1` - Об установлении фактов, имеющих юридическое значение
   * - `2` - Об административных правонарушениях
   * - `3` - Экономические споры по гражданским правоотношениям
   * - `4` - О несостоятельности (банкротстве) организаций и граждан
   * - `5` - Экономические споры по административным и иным публичным правоотношениям
   *   (исключая споры об административных правонарушениях)
   * - `6` - О признании и приведении в исполнение решений иностранных судов и
   *   иностранных арбитражных решений
   * - `7` - Иное
   * - `8` - Административный спор
   * - `9` - Об оспаривании решений трет. судов и о выдаче исп. листов на
   *   принудительное исполнение решений трет. судов
   * - `10` - Дисциплинарные споры
   * - `11` - Экономические споры по административным правоотношениям
   */
  dispute?: '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' | '10' | '11';

  /**
   * Body param: Тип документа.
   *
   * **Допустимые значения:**
   *
   * - `Определение`
   * - `Заявление`
   * - `Решения и постановления`
   * - `Заявление (исковое заявление)`
   * - `Решение`
   * - `Прочие судебные документы`
   * - `Жалоба`
   * - `Апелляционная жалоба`
   * - `Постановление апелляционной инстанции`
   * - `Информация о принятом судебном акте`
   * - `Письмо`
   * - `Решение в виде резолютивной части (ст. 229 АПК)`
   * - `Решение (резолютивная часть)`
   * - `Судебный приказ`
   * - `Постановление кассационной инстанции`
   * - `Кассационная жалоба`
   * - `Постановление апелляционной инстанции (резолютивная часть)`
   * - `Определение (резолютивная часть)`
   * - `Определение (протокольное)`
   * - `Ходатайства`
   * - `Ходатайство (заявление)`
   * - `Судебное поручение`
   * - `Постановление кассационной инстанции (резолютивная часть)`
   * - `Определение в виде резолютивной части (ст. 229 АПК)`
   * - `Постановление апелляции`
   * - `Постановление кассации`
   * - `Определение в виде резолютивной части (ст. 229 АПК, ст. 60 ФЗ О несостоятельности)`
   * - `Жалоба на определение суда кассационной инстанции`
   * - `События`
   * - `Постановление апелляционной инстанции (дополнительное)`
   * - `Запрос`
   * - `Исполнительный лист`
   * - `Определение Верховного Суда РФ`
   * - `Постановление кассационной инстанции (дополнительное)`
   * - `Решение (дополнительное - резолютивная часть)`
   * - `Дополнение к делу`
   * - `Определение Судебной коллегии ВС РФ`
   * - `Ответ заявителю`
   * - `Постановление Президиума ВАС РФ`
   * - `Постановление апелляционной инстанции (дополнительное - резолютивная часть)`
   * - `Решение (дополнительное)`
   * - `Отзыв на …`
   * - `Переписка по делу`
   * - `Представления`
   * - `Протокол`
   * - `Материалы по делу`
   * - `Получение дела`
   * - `Переадресация дела`
   * - `Справка на возврат госпошлины`
   * - `Судебный приказ (дубликат)`
   * - `Отзыв`
   * - `Постановление судебного пристава-исполнителя`
   * - `Распоряжение председателя суда (председателя судебной коллегии, председателя судебного состава)`
   * - `Дополнительное решение`
   * - `Постановление Верховного Суда РФ`
   * - `Взыскание госпошлины`
   * - `Исполнительный лист (дубликат)`
   * - `Постановление СПИ`
   * - `Постановление кассационной инстанции (дополнительное - резолютивная часть)`
   * - `Событие`
   */
  doc_type?: string;

  /**
   * Body param: Включение документов в ответ
   */
  need_document?: boolean;

  /**
   * Body param: Направление сортировки.
   *
   * **Допустимые значения:**
   *
   * - `ASC` – возрастание
   * - `DESC` – убывание (по умолчанию)
   */
  order?: 'ASC' | 'DESC';

  /**
   * Body param: Участник дела (наименование, ОГРН, ИНН)
   */
  participant?: string;

  /**
   * Body param: Роль участника в деле.
   *
   * **Допустимые значения:**
   *
   * - `RESPONDENT` – Ответчик
   * - `PLAINTIFF` – Истец
   * - `THIRD_PARTY` – Третье лицо
   * - `INTERESTED_PERSONS` – Заинтересованное лицо
   * - `CREDITOR` – Кредитор
   * - `APPLICANT` – Заявитель
   * - `DEBTOR` – Должник
   * - `CREDITOR_CURRENT_PAYMENTS` – Кредитор по текущим платежам
   * - `OTHER` – Иная роль в деле
   */
  role?:
    | 'RESPONDENT'
    | 'PLAINTIFF'
    | 'THIRD_PARTY'
    | 'INTERESTED_PERSONS'
    | 'CREDITOR'
    | 'APPLICANT'
    | 'DEBTOR'
    | 'CREDITOR_CURRENT_PAYMENTS'
    | 'OTHER';

  /**
   * Body param: Поле для сортировки арбитражных дел
   *
   * **Допустимые значения:**
   *
   * - `date_start` – дата начала дела (по умолчанию)
   * - `sum` – цена иска
   */
  sort?: 'date_start' | 'sum';

  /**
   * Body param: Нижняя граница диапазона даты начала дела (дата начала дела с, в
   * формате YYYY-MM-DD)
   */
  start_date_from?: string;

  /**
   * Body param: Верхняя граница диапазона даты начала дела (дата начала дела по, в
   * формате YYYY-MM-DD)
   */
  start_date_to?: string;

  /**
   * Body param: Статус дела.
   *
   * **Допустимые значения:**
   *
   * - `0` - Дело рассматривается
   * - `1` - Дело завершено
   */
  status?: '0' | '1';

  /**
   * Body param: Нижняя граница диапазона цены иска (сумма от)
   */
  sum_from?: number;

  /**
   * Body param: Верхняя граница диапазона цены иска (сумма до)
   */
  sum_to?: number;

  /**
   * Body param: Нижняя граница периода обновления арбитражных дел (в формате
   * YYYY-MM-DD)
   */
  updated_at_from?: string;

  /**
   * Body param: Верхняя граница периода обновления арбитражных дел (в формате
   * YYYY-MM-DD)
   */
  updated_at_to?: string;
}

export declare namespace BatchCases {
  export {
    type BatchCaseCreateResponse as BatchCaseCreateResponse,
    type BatchCaseCreateParams as BatchCaseCreateParams,
  };
}
